main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 1000px;
    width: 600px;
}


h1 {
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: medium;
    color: #fff;
    margin: 32px;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 536px;
    height: 122px;
    margin: 0px 32px;
}

input {
   width: 536px;
   height: 53px; 
   border: 1px solid #999999;
   font-size: 16px;
   background-color: #000;
   color: #999999;
   font-family: 'Roboto';
   padding: 10px;

}

.footerbtn {
    width: 536px;
    height: 53px;
    margin: 0 32px;
    display: flex;
    justify-content: space-between;

}

.F-btn {
    width: 260px;
    height: 53px;
    border-radius: 8px;
    background-color: #707070;
    color: #fff;
    font-size: 16px;
    font-family: 'Roboto';
     cursor: pointer;
}

.L-btn {
    width: 260px;
    height: 53px;
    color: #fff;
    background-color: #66DC78;
    font-size: 16px;
    font-family: 'Roboto';
    border-radius: 8px;
    cursor: pointer;
}

@media only screen and (min-width: 768px) {
    main {
    display: flex;
    flex-direction: column;
    justify-content: normal;
    gap: 400px;
    height: 1000px;
    width: 600px;
    margin: 32px auto;
}
}